# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# H2 Database files
/data/

# Compiled output
/out/
/bin/

# Ignorar archivos de compilación de Maven/Gradle
/target/
/build/
.gradle/
/gradle/
gradlew
gradlew.bat
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Archivos de log
*.log

